.download {
  background: $white;

  @extend %padding__default;
  padding-top: 30px;
  padding-bottom: 38px;

  &__container {
    position: relative;
  }

  &__title {
    color: $black;
    @extend %section__title;

    margin-bottom: 12px;

    span {
      color: $orange__text;
    }
  }

  &__text {
    color: $grey;
    @extend %section__text;

    margin-bottom: 10px;
  }

  &__button {
    display: block;

    width: 118px;

    &:first-child {
      margin-right: 20px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    padding-bottom: 0;

    &__image {
      margin-right: 30 * 100vw / 768;

      position: relative;
      z-index: $z-index + 1;

      min-width: 160px;
      width: 160px;

      picture,
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__content {
      margin-top: 16px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 8px;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-top: 85px;

    &__image {
      margin-right: 136 * 100vw / 1440;

      transform: translate(6px, 8px);

      min-width: 344px;
      width: 344px;
    }

    &__content {
      margin-top: 140px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__text {
      margin-bottom: 74px;
    }

    &__button {
      width: 216px;

      &:first-child {
        margin-right: 24px;
      }
    }
  }
}