.faq {
    // common tabs styles
    .tabs {
        &__container {
            // 
        }

        &__el {

            &__title {
                cursor: pointer;
            }

            &__content {
                transition: max-height 0.3s ease-out;

                overflow: hidden;
            }
        }
    }

    &__container {
        @extend %padding__default;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        @extend %section__sub-title--xxl;

        margin-bottom: 12px;

        span {
            color: $orange__text;
        }
    }

    &__tabs {
        &__el {
            @extend %roboto__text;
            margin-bottom: 5px;

            &.active {
                .faq__tabs__el__title {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }

            &__title {
                background: $white;
                border-radius: 5px;
                box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);

                color: $black__light;
                font-size: 13px;
                font-weight: 600;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                padding: 6px 10px;

                height: 34px;

                img {
                    transition: transform .3s ease-out;
                }
            }

            &__content {
                color: $black__light;
                font-size: 13px;
                font-weight: 400;
                line-height: 22.75px;

                p {
                    padding: 10px 0;
                }
            }
        }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        &__title {
            margin-bottom: 30px;
        }

        &__tabs {
            &__el {
                &__title {
                    font-size: 16px;
                    line-height: 27.2px;

                    height: 37px;
                }
    
                &__content {
                    font-size: 14px;
                    line-height: 24.5px;

                    p {
                        padding: 10px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $breakpoint-desktop) {
        &__content {
            padding-top: 186px;
            max-width: 540px;
        }

        &__title {
            margin-bottom: 20px;
            max-width: 440px;
        }

        &__tabs {
            &__el {
                &__content {
                    p {
                        padding: 10px 10px;
                    }
                }
            }
        }

        &__picture {
            display: block;

            width: 523px;
            height: auto;

            img {
                display: block;

                width: 100%;
                height: auto;
            }
        }
    }
}