* {
  box-sizing: border-box;
  box-shadow: none;

  font-family: 'Roboto', 'Ubuntu', sans-serif;

  list-style: none;

  margin: 0;
  padding: 0;

  outline: none;
  text-decoration: none;
}

@import './components/__vars';
@import './components/__header';
@import './components/__intro';
@import './components/_download';

html, body {
  scroll-behavior: smooth;
}

body {
  
}